form.search {
  display: flex;
  padding: 0.2rem 0;
}

input[type='text'].search {
  background-color: #222;
  border-color: #14cf00;

  color: white;
  font-size: 1.3rem;
}
input[type='text'].search:-webkit-autofill,
input[type='text'].search:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 5em #222 inset;
  -webkit-text-fill-color: white;
}

input[type='submit'].search {
  background-color: #040;
  border-color: #14cf00;

  color: white;
  font-size: 1.3rem;
}

/* wide */
@media screen and (min-width: 35rem) {
  form.search {
    flex-direction: row;
  }
  .search.start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .search.end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
/* narrow */
@media screen and (max-width: 35rem) {
  form.search {
    flex-direction: column;
  }
  .search.start {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .search.end {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.search.middle {
  border-radius: 0;
}
