html {
  background-color: black;
}
body {
  color: white;
}

.App {
  background-color: #28282a;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  padding: 0.5rem;
}

a {
  color: #70d0ff;
}
a[target="_blank"]::after {
  content: url('./external-link.svg');
  color: #70d0ff;
}

.bordered {
  border-width: 0.1em;
  border-style: solid;
  padding: 0 0.3em;
}

.radius-m {
  border-radius: 0.4em;
}
