.bordered {
  border-radius: 0.4em;
  border-width: 0.1em;
  border-style: solid;
  padding: 0 0.3em;
}

.detail {
  display: inline-block;
  border-color: #0073cf;
  margin: 0.1rem;
}
.alert-title {
  margin: 0.5em 0;
  padding: 0 0.4em;

  display: flex;
  justify-content: space-between;
}
.outage {
  border-color: #77216f;
  margin-bottom: 0.3em;
}
.uningested {
  border-color: #c313a9;
  text-align: center;
}
